
$primary-darker: #1f1f1c;
$primary-dark: #4a4a3b;
$primary: #96964b;
$primary-light: #c9c98f;
$primary-lighter: #ffffe3;
$secondary-darker: #1f1c1c;
$secondary-dark: #423333;
$secondary: #873e3e;
$secondary-light: #c47c7c;
$secondary-lighter: #ffd1d1;

body{
    background-color: $primary-lighter;
    // *{
    //     color:$primary-darker;
    // }
}
body.dark{
    background-color: $primary-darker;
    // *{
    //     color:$primary-lighter;
    // }
}
body::-webkit-scrollbar{width:5px;border-left:2px solid $primary-lighter;}
body::-webkit-scrollbar-thumb{background-color:$primary; border-radius:50px}


body.dark::-webkit-scrollbar{width:5px;border-left:2px solid $primary-darker;}
body.dark::-webkit-scrollbar-thumb{background-color:$primary; border-radius:50px}